[submodule "Arisen/3rdparty/Ava.Dock"]
	path = Arisen/3rdparty/Ava.Dock
	url = https://github.com/eatdreamcat/Dock.git
    branch = arisen_dev
[submodule "Arisen/3rdparty/tracy"]
	path = Arisen/3rdparty/tracy
	url = https://github.com/eatdreamcat/tracy.git
	branch = arisen_dev
[submodule "Arisen/3rdparty/spdlog"]
	path = Arisen/3rdparty/spdlog
	url = https://github.com/eatdreamcat/spdlog.git
	branch = arisen_dev
[submodule "Arisen/3rdparty/DirectXShaderCompiler"]
	path = Arisen/3rdparty/DirectXShaderCompiler
	url = https://github.com/eatdreamcat/DirectXShaderCompiler.git
	branch = arisen_dev
[submodule "Arisen/3rdparty/cgltf"]
	path = Arisen/3rdparty/cgltf
	url = https://github.com/ArisenEngine/cgltf.git
	branch = arisen_dev
[submodule "Arisen/Test/NativeEngineTest/Assets/glTF-Sample-Models"]
	path = Arisen/Test/Assets/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
[submodule "Arisen/External/ArisenNodeCanvas"]
	path = Arisen/External/ArisenNodeCanvas
	url = https://github.com/eatdreamcat/ArisenNodeCanvas.git
[submodule "Arisen/External/ArisenDAG"]
	path = Arisen/External/ArisenDAG
	url = https://github.com/eatdreamcat/ArisenDAG.git
[submodule "Arisen/External/ArisenEditorFramework"]
	path = Arisen/External/ArisenEditorFramework
	url = https://github.com/eatdreamcat/ArisenEditorFramework.git
[submodule "Arisen/Development/PackageGame/Local/com.arisen.core"]
	path = Arisen/Development/PackageGame/Local/com.arisen.core
	url = https://github.com/ArisenEngine/com.arisen.core.git
[submodule "Arisen/Development/PackageGame/Local/com.arisen.core.native"]
	path = Arisen/Development/PackageGame/Local/com.arisen.core.native
	url = https://github.com/ArisenEngine/com.arisen.core.native.git
[submodule "Arisen/Development/PackageGame/Local/com.arisen.resources"]
	path = Arisen/Development/PackageGame/Local/com.arisen.resources
	url = https://github.com/ArisenEngine/com.arisen.resources.git
[submodule "Arisen/Development/PackageGame/Local/com.arisen.ecs"]
	path = Arisen/Development/PackageGame/Local/com.arisen.ecs
	url = https://github.com/ArisenEngine/com.arisen.ecs.git
[submodule "Arisen/Development/PackageGame/Local/com.arisen.platform.desktop"]
	path = Arisen/Development/PackageGame/Local/com.arisen.platform.desktop
	url = https://github.com/ArisenEngine/com.arisen.platform.desktop.git
[submodule "Arisen/Development/PackageGame/Local/com.arisen.rendering"]
	path = Arisen/Development/PackageGame/Local/com.arisen.rendering
	url = https://github.com/ArisenEngine/com.arisen.rendering.git
[submodule "Arisen/Development/PackageGame/Local/com.arisen.rhi.vulkan.native"]
	path = Arisen/Development/PackageGame/Local/com.arisen.rhi.vulkan.native
	url = https://github.com/ArisenEngine/com.arisen.rhi.vulkan.native.git
