[submodule "Arisen/3rdparty/Ava.Dock"]
	path = Arisen/3rdparty/Ava.Dock
	url = https://github.com/eatdreamcat/Dock.git
    branch = arisen_dev
[submodule "Arisen/3rdparty/tracy"]
	path = Arisen/3rdparty/tracy
	url = https://github.com/eatdreamcat/tracy.git
	branch = arisen_dev
[submodule "Arisen/3rdparty/spdlog"]
	path = Arisen/3rdparty/spdlog
	url = https://github.com/eatdreamcat/spdlog.git
	branch = arisen_dev
